{erl_opts, [debug_info]}.

{deps, [
    {emqttc, ".*", {git, "git@gitlab.com:m2md_gateway/emqtt_client.git", {branch, "develop"}}},
    {gproc,".*",{git,"https://github.com/uwiger/gproc", {ref, "a30b18c735a028e92837fb9d3d38de06935d862b"}}}, 
  %  {ecpool,".*",{git,"https://github.com/emqtt/ecpool", {ref, "c637a98ab62808b4886ecf35c98346eae44cb918"}}},
    {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

{shell, [
    {config, "etc/erl_prac.config"},
    {apps, [erl_prac, emqttc, lager]}
]}.

{overrides, [
    {override, erl_prac, [{erl_opts, [debug_info, {parse_transform, lager_transform}]}]}
]}.
