[
   {erl_prac, []}, 
   {emqttc, [
        {topics,
            [
             [{share, <<"">>},
              {topic, <<"#">>},
              {qos, 1},
              {callback, {erl_prac, mqtt_handle_publish}}]
            ]},

        {pool_size, 1},
        {host, "a2n6dl6rjkcvi5.iot.us-east-1.amazonaws.com"},
        {port, 8883},
        {ssl, [
            {keyfile, "etc/certs/m2md-aws-iot-certs/m2md-private.key"}, 
            {certfile, "etc/certs/m2md-aws-iot-certs/m2md-cert.crt"}, 
            {cafile, "etc/certs/m2md-aws-iot-certs/m2md-cacert.crt"}]},
        {autoresub, true},
        {reconnect, {1, 20, 100000}},
        {qos,  1},
        {keepalive, 360},
        {logger,info}
    ]},

    {lager, [
        {colored, true},
        {colors, [
            {debug,     "\e[1;34m" },
            {info,      "\e[1;37m" },
            {notice,    "\e[1;36m" },
            {warning,   "\e[1;33m" },
            {error,     "\e[1;31m" },
            {critical,  "\e[1;35m" },
            {alert,     "\e[1;44m" },
            {emergency, "\e[1;41m" }

            ]},

%      {handlers, [
%        {lager_console_backend, [{level, info}]},
%        {lager_file_backend, [{file, "error.log"}, {level, error}]},
%        {lager_file_backend, [{file, "console.log"}, {level, info}]} 
%      ]}

      {handlers, [
        {lager_console_backend, [{level, info}]},
        {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
        {lager_file_backend, [{file, "log/console.log"}, {level, info}, {size, 5242880}, {date, "$D0"}, {count, 7}, {formatter, lager_default_formatter}, {formatter_config, ["|",date,"|",time,"|",message,"|\n"]} ]} 
      ]}


    ]},

    {sync, [
        %{src_dirs, {replace, [{"_build/"}, []]}}, % WORKS
        %{src_dirs, {replace, [{"./_build/"}]}}, % WORKS
        %{src_dirs, {replace, [{"_build/"}, []]}},
        %{src_dirs, {replace, [{"../src", []}]}},
        {growl, all},
        {log, all},
        {non_descendants, ignore},
        {executable, auto},
        {whitelisted_modules, []},
        {excluded_modules, []}
    ]}

].
